#userWins,
#userLosses,
#username {
    font-weight: bold;
}

.modal-open .bootbox.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.tab-pane {
    padding: 10px
}